@use '@variables' as *;
@use '@mixins' as mixins;

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 268px;
  height: 66px;
  background-color: $white;
  border: 1px solid $black;
  font-size: 1rem;
  @include mixins.montserrat;
  color: $black;
  p {
    white-space: nowrap;
  }
  @media (max-width: $tablet) {
    height: 51px;
    width: 200px;
    font-size: 0.875rem;
  }
  @media (max-width: $mobile) {
    height: 46px;
    width: 184px;
    min-width: 175px;
    font-size: 0.875rem;
  }
}
