@use "@variables" as variables;
@use "@mixins" as mixins;

.primaryButton {
  display: flex;
  align-items: center;
  background-color: variables.$white;
  font-size: variables.$px14;
  gap: 0.625rem;
  width: 250px;
  min-width: 200px;
  height: 58px;

  @include mixins.avenir;
  background-color: rgba(white, 0);

  &.border {
    border: 1px solid variables.$black;
    justify-content: center;
  }

  &.medium {
    @include mixins.avenirMedium;
  }

  &.smallText {
    font-size: variables.$px14;
    font-size: 14px;
  }

  p {
    white-space: nowrap;
  }

  &:hover {
    &.border {
      border: 2px solid variables.$black;
    }
  }

  @media (max-width: variables.$tablet) {
    height: 51px;
    width: 200px;
  }
  @media (max-width: variables.$mobile) {
    min-width: 100px;
  }
}

.dark {
  color: variables.$white;
  background: variables.$black;

  svg {
    path {
      fill: variables.$white;
    }
  }
}
