@use "@variables" as var;
@use "@mixins" as mixins;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mixins.pagePadding;
  margin: 6rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 477px;
}

.signUp {
  font-size: 2.8125rem;
  line-height: 4.5rem;
  margin-bottom: var.$px24;
  @include mixins.heading;
}

.description {
  font-size: var.$px16;
  @include mixins.avenir;
  text-align: center;
  line-height: 28px;
  margin-bottom: var.$px30;
}

.row {
  display: flex;
  gap: 19px;
  width: 100%;
  height: 44px;
}

.emailInput {
  @include mixins.montserrat;
  font-size: var.$px14;
  letter-spacing: 0.03em;
  width: 100%;
  opacity: 50%;
  padding: 0 var.$px16;
  height: 100%;
}

.button {
  min-width: 0;
  @include mixins.montserrat;
  height: 100%;
}

.errorMessage {
  @include mixins.montserrat;
  color: red;
  align-self: flex-start;
  margin-bottom: 10px;
}

.submitted {
  padding: 100px 0;
  text-align: center;
  .title {
    @include mixins.heading;
    margin-bottom: 20px;
  }
}

@media (max-width: var.$mobile) {
  .signUp {
    font-size: 30px;
    margin-bottom: var.$px10;
  }

  .description {
    font-size: var.$px14;
    max-width: 350px;
    margin-bottom: var.$px20;
  }

  .row {
    height: 100%;
    flex-direction: column;
    gap: var.$px16;
    max-width: 325px;
  }

  .emailInput {
    padding: 0 var.$px10;
    height: 45px;
  }

  .button {
    width: 100%;
    height: 45px;
  }
}
