@use "@mixins" as mixins;
@use "@variables" as variables;

.date {
  @include mixins.manropeRegular;
  font-size: variables.$px32;
  line-height: 1.1;
}

@media screen and (max-width: variables.$mobile) {
  .date {
    font-size: variables.$px30;
  }
}
