@use '@variables' as var;
@use '@mixins' as mixins;

.container {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  @include mixins.pagePadding;
  width: 100%;
  background-color: var.$white;
  z-index: 100;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1131px;
  height: 120px;
}

.noraLogoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$black;
  width: 76px;
  height: 66px;
  min-width: 76px;

  img {
    width: 49px;
    height: 29px;
  }
}

.joinEmailList {
  @include mixins.joinEmailButton;
}

@media (max-width: var.$tablet) {
  .container {
    height: 98px;
  }

  .navigation {
    max-width: 900px;
  }

  .noraLogoBackground {
    width: 61px;
    height: 51px;
    min-width: 61px;

    img {
      width: 39px;
      height: 19px;
    }
  }

  .joinEmailList {
    height: 51px;
    width: 200px;
    font-size: 0.875rem;
  }
}

@media (max-width: var.$mobile) {
  .container {
    padding: 0 0.6rem 0 1.25rem;
    height: 68px;
    z-index: 100;

    &.mobileNavActive {
      background: rgb(200, 200, 200);
    }
  }

  .noraLogoBackground {
    width: 49px;
    height: 42px;
    min-width: 49px;
    margin-right: 0;

    img {
      width: 29px;
      height: 16px;
    }
  }
}
