@use "@variables" as var;
@use "@mixins" as mixins;

.container {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: var.$white;
  z-index: 100;
  @include mixins.pagePadding;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include mixins.maxWidthContainer;
  height: 100px;
}

.logo {
  width: 76px;
}

.magnifyingGlass {
  width: 15px;
  color: var.$charcoal;
}

@media (max-width: var.$tablet) {
  .container {
    height: 98px;
  }

  .logo {
    width: 61px;
    height: 51px;
  }
}

@media (max-width: var.$mobile) {
  .container {
    padding: 0 0.6rem 0 1.25rem;
    height: 68px;
    z-index: 100;

    &.mobileNavActive {
      background: rgb(200, 200, 200);
    }
  }

  .logo {
    width: 49px;
    height: 42px;
  }
}
