@use "@variables" as var;

.ul {
  position: absolute;
  top: 100%;
  z-index: 99;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 1px solid var.$darkGrey;
  border-bottom: 1px solid var.$darkGrey;
  border-left: 1px solid var.$darkGrey;
  max-height: 210px;
  overflow-y: scroll;
}

.li {
  display: flex;
  justify-content: flex-start;
  padding: 0.625rem;
  cursor: pointer;
  font-size: var.$px14;
}

.li:hover,
.li:focus {
  background-color: var.$lightGrey;
}
