@use "@mixins" as mixins;

.richText {
  @include mixins.avenirLight;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}

.richTextBold {
  @include mixins.avenirMedium;
}

.richTextItalic {
  font-style: italic;
}

.richTextHeading {
  @include mixins.heading;
  margin-bottom: 30px;
}
