@font-face {
  font-family: 'OpenSans Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/Open_Sans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'OpenSans Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Open_Sans/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Semi Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/Open_Sans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Open_Sans/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Manrope Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Manrope/Manrope-Light.ttf');
}

@font-face {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Manrope/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Manrope/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'Manrope Semi Bold';
  font-style: normal;
  src: url('../../assets//Manrope/Manrope-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/Montserrat/Montserrat-Regular.ttf');
}
