* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  border: none;
  cursor: pointer;
  background: none;
}

html,
body {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}
