@use './fonts.module.scss' as *;
@use './variables.module.scss' as variables;

@mixin heading($fontSize: 45px) {
  font-family: 'Manrope Medium';
  font-size: $fontSize;
  color: variables.$black;
  @media screen and (max-width: variables.$mobile) {
    font-size: 35px;
  }
}

@mixin bodyCopy {
  font-family: 'OpenSans Regular';
  font-size: 16px;
  line-height: 28px;
  color: variables.$black;
}

@mixin manropeLight($fontSize: 45px) {
  font-family: 'Manrope Light';
  font-size: $fontSize;
}

@mixin manropeRegular {
  font-family: 'Manrope Regular';
  color: #231f20;
}

@mixin openSans {
  font-family: 'OpenSans Regular';
  color: variables.$black;
}

@mixin openSansBold {
  font-family: 'OpenSans Bold';
  color: variables.$black;
}

@mixin openSansMedium {
  font-family: 'OpenSans Medium';
  color: variables.$black;
}

@mixin openSansLight {
  font-family: 'OpenSans Light';
  color: variables.$black;
}

@mixin openSansExtraSemiBold {
  font-family: 'OpenSans Extra Semi Bold';
  color: #231f20;
}

@mixin montserrat {
  font-family: 'Montserrat Regular';
  color: variables.$black;
}

@mixin montserratLight {
  font-family: 'Montserrat Light';
  color: variables.$black;
}

@mixin montserratMedium {
  font-family: 'Montserrat Medium';
  color: #231f20;
}

@mixin pagePadding {
  padding: 0 1.25rem;
}
