// Colors
$black: #231f20;
$darkGrey: #908e8f;
$lightGrey: #f4f4f4;
$white: #ffffff;
$charcoal: #2f2f2f;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;

// Max Widths
$desktopWidth: 1131px;
$tabletWidth: 900px;
$mobileWidth: none;

$--10px: 0.625rem;
$--12px: 0.75rem;
$--14px: 0.875rem;
$--16px: 1rem;
$--18px: 1.125rem;
$--20px: 1.25rem;
$--24px: 1.5rem;
$--30px: 1.875rem;
$--32px: 2rem;
