// Colors
$white: #fff;
$black: #2f2f2f;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;

// Fonts
// $fontPrimary: 'Cormorant Garamond';
// $fontPrimaryBold: 'Cormorant Garamond Bold';
// $fontPrimarySemiBold: 'Cormorant Garamond Semi Bold';
// $fontPrimaryMedium: 'Cormorant Garamond Medium';
// $fontSecondary: 'Lato';
// $fontSecondaryBold: 'Lato Bold';
// $fontSecondaryLight: 'Lato Light';
