// Colors
$black: #231f20;
$darkGrey: #908e8f;
$lightGrey: #f4f4f4;
$white: #ffffff;
$charcoal: #2f2f2f;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;

// Max Widths
$desktopMaxWidth: 1131px;
$tabletMaxWidth: 900px;
$mobileMaxWidth: none;

$px10: 0.625rem;
$px12: 0.75rem;
$px14: 0.875rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px24: 1.5rem;
$px30: 1.875rem;
$px32: 2rem;
