@use "@mixins" as mixins;
@use "@variables" as variable;

.container {
  display: flex;
  align-items: flex-end;
  color: variable.$black;
}

.handle {
  @include mixins.manropeRegular;
  margin-left: 5px;
  font-size: variable.$px14;
  @media (max-width: 360px) {
    font-size: variable.$px12;
  }
}

.icon {
  width: 26px;
  margin-left: 0.3rem;
  font-size: variable.$px22;
}
