@use "@variables" as variables;
.container {
  display: flex;
  justify-content: center;
  gap: variables.$px12;
  .image-1,
  .image-2,
  .image-3 {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: variables.$mobile) {
  .container {
    gap: 0;
    .image-2 {
      margin-right: 0;
    }
  }
}
