@use "@variables" as variables;
@use "@mixins" as mixins;

.columnGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include mixins.maxWidthContainer;
  margin-top: 150px;
  gap: 100px 170px;
  @media screen and (max-width: variables.$tablet) {
    gap: 100px 50px;
  }
  @media screen and (max-width: variables.$mobile) {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
