.container {
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1131px;
  margin-top: 150px;
  row-gap: 100px;
}

.listItem {
  &:nth-child(odd) {
    margin-right: 85px;
  }
  &:nth-child(even) {
    margin-left: 85px;
  }
}
