@use '@mixins' as mixins;
@use '@variables' as variables;

.largeWrapper {
  @include mixins.maxWidthContainer;
}

.smallWrapper {
  max-width: 750px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: variables.$mobile) {
  .largeWrapper,
  .smallWrapper {
    @include mixins.pagePadding;
  }
}
