@use "@mixins" as mixins;
@use "@variables" as variables;

.padding {
  @include mixins.pagePadding;
}
.largeWrapper {
  @include mixins.maxWidthContainer;
}

.smallWrapper {
  max-width: 750px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: variables.$mobile) {
  .largeWrapper,
  .smallWrapper {
    margin-top: 30px;
  }
}
