@use '@variables' as variables;

.image {
  background-color: variables.$lightGrey;
  padding: 25px 30px;
  height: 560px;
}

.imageSelectionContainer {
  display: flex;
  margin-top: 20px;
}

.imageSelectionTile {
  padding: 12px;
  margin-right: 15px;
  background-color: variables.$lightGrey;
}

.active {
  border: 1px solid black;
}
