@use '@variables' as *;
@use '@mixins' as mixins;

.container {
  position: absolute;
  top: 100%;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  border-bottom: 1px solid $black;
  width: 100%;
  max-width: 400px;
  padding: 0.25rem 0;

  input {
    border: none;
    width: 100%;
    font-size: 1rem;
    @include mixins.manropeRegular;
  }

  input:focus {
    padding-left: 0.1rem;
  }
}

@media (max-width: $tablet) {
  .form {
    input {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: $mobile) {
  .container {
    justify-content: flex-start;
  }
  .form {
    max-width: none;

    input {
      font-size: 1rem;
    }
  }
}
