@use "@variables" as var;
@use "@mixins" as mixins;

.container {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var.$white;
  width: 100%;
  padding-bottom: 20px;
}

.button {
  align-items: center;
}

.form {
  display: flex;
  border-bottom: 1px solid var.$black;
  width: 100%;
  max-width: 400px;
  input {
    border: none;
    width: 100%;
    font-size: 1rem;
    @include mixins.manropeRegular;
    padding: var.$px10;
    padding: var.$px10;
    margin: 0 10px 0 -10px;
  }
}

@media (max-width: var.$tablet) {
  .form {
    input {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: var.$mobile) {
  .container {
    justify-content: flex-start;
  }
  .form {
    max-width: none;

    input {
      font-size: 1rem;
    }
  }
}
