@use "@mixins" as mixins;
@use "@variables" as variables;

.container {
  @include mixins.maxWidthContainer;
}

.heading {
  @include mixins.heading;
  margin: 65px 0 40px;
}

.innerContainer {
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

.richText {
  margin-bottom: 130px;
}

@media screen and (max-width: variables.$mobile) {
  .richText {
    margin-bottom: 50px;
  }
}
