@use "@mixins" as mixins;
@use "@variables" as variables;

.container {
  @include mixins.maxWidthContainer;
  background-color: variables.$lightGrey;
  margin-bottom: 130px;
  padding: 25px 0;
}

.heading {
  @include mixins.heading;
  margin: 35px 0 40px !important;
}

.innerContainer {
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    background-color: white;
  }
  .richText {
    margin-bottom: 50px;
  }
}
