@use '@mixins' as mixins;
@use '@variables' as variables;

.eventTileContainer {
  display: flex;
  background-color: variables.$lightGrey;
  padding: 100px 75px;
  margin-bottom: 75px;
}

.column {
  width: 50%;
}

.comingUp {
  @include mixins.openSans;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: variables.$darkGrey;
  font-size: 16px;
}

.name {
  @include mixins.heading;
  margin: 20px 0;
  line-height: 1.2;
}

.button {
  margin-top: 50px;
  background: none;
}

@media screen and (max-width: variables.$mobile) {
  .column {
    width: 100%;
    @include mixins.pagePadding;
  }

  .eventTileContainer {
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin: 50px 0;
  }

  .button {
    margin-bottom: 50px;
  }

  .image {
    height: auto;
  }
}
