@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  display: flex;
  justify-content: center;
  @include mixins.pagePadding;
}

@media screen and (max-width: variables.$mobile) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .listItem {
    margin-bottom: 80px;
  }
}
