@use "@mixins" as mixins;
@use "@variables" as variables;

.aboutTheAuthorContainer {
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

.richText {
  margin-bottom: 30px;
}

.heading {
  @include mixins.heading;
  margin-bottom: variables.$px30;
}
