@use "@variables" as variables;
@use "@mixins" as mixins;

.paintingTile {
  color: variables.$black;
}

.imageContainer {
  padding: 25px;
  background: variables.$lightGrey;
  height: 500px;
  display: flex;
  align-items: center;
  img {
    max-height: 450px;
    width: 100%;
    height: auto;
  }
}

.textContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-self: flex-end;
  @include mixins.avenir;
}

.paintingName {
  margin-bottom: variables.$px4;
}

.price,
.status {
  @include mixins.avenir;
}

.status {
  text-transform: uppercase;
}

@media screen and (max-width: variables.$mobile) {
  .imageContainer {
    img {
      height: auto;
    }
  }
}
