@use "@variables" as *;
@use "@mixins" as mixins;

.paintingTile {
  color: $black;
}

.imageContainer {
  padding: 25px;
  background: $lightGrey;
  height: 500px;
  display: flex;
  align-items: center;
  img {
    max-height: 450px;
    width: 100%;
    height: auto;
  }
}

.textContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-self: flex-end;
}

.paintingName {
  @include mixins.openSans;
}

.price {
  @include mixins.openSansBold;
}

@media screen and (max-width: $mobile) {
  .imageContainer {
    img {
      height: auto;
    }
  }
}
