@use "@variables" as variables;
.mobileButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
  }
}

.magnifyingGlass {
  width: 18px;
  font-size: variables.$px16;
  color: variables.$charcoal;
}
